__pycache__/
.idea/
*.iml
*.pyc
*.pyo
*packaged.yaml
.aws-sam/
.DS_Store
env.sh
.python-version
tmp/
.venv/


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

data/png/
data/svg/
output.manifest
.ipynb_checkpoints/
