[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
yapf = "*"
flake8 = "*"
aws-sam-cli = "*"
boto3 = "*"

[packages]
# lambda runtime comes with boto3 already installed
#boto3 = "*"
PyYAML = ">=5.4"

[requires]
python_version = "3.7"

[scripts]
tests = 'pytest'
gen-requirements = "sh -c \"pipenv lock -r > app/requirements.txt\""
