[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"

[packages]
ffmpeg-python = "*"

[requires]
python_version = "3.7"

[scripts]
tests = 'pytest'
gen-requirements = "sh -c \"pipenv lock -r > app/requirements.txt\""
